
body {
    background-color: #000000;
    font-family: 'Raleway', sans-serif;
}


/**Quienes somos**/
#quienes-somos {
    
}

#quienes-somos hr , #destacados hr , #contacto hr {
    height: 1px;
    background-color: #17A3B8;
}

#quienes-somos i {
    width: 100%;
}

#destacados .card-body {
    background-color: #17A3B8;
}

#footer i {
    margin: auto ;
}

#footer h2 {
    
}

.img-responsive {
    max-height: 40px;
}